<j-clickable-card role="listitem" class="j-card j-max-w" style="--max-w: 30rem">
    <figure>
        <div class="j-frame" style="--frame-ratio: 10 / 7">
            {% if post.picture %}
                <img src="{{ storageCdnUrl ~ '/' ~ post.picture }}" alt="{{ post.title }}"/>
            {% else %}
                <img src="{{ asset('images/placeholder.webp') }}" alt="{{ post.title }}"/>
            {% endif %}
        </div>
    </figure>
    <div class="j-box" style="--box-padding: calc(2 * var(--w))">
        <p>
            {{ post.publicationDate|date('d/m/Y') }}
        </p>
        <h3>
            <a href="{{ path('app_posts_detail', { slug: post.slug } )}}" data-clickable-card-target="link">
                {{ post.title }}
            </a>
        </h3>
        <div class="j-cluster" style="--cluster-justify: end">
            {% include 'common/icons/arrow-right-big.svg.twig' %}
        </div>
    </div>
</j-clickable-card>
