{#
Tweaks to the default Symfony form theme.
Source: https://github.com/symfony/symfony/blob/6.3/src/Symfony/Bridge/Twig/Resources/views/Form/form_div_layout.html.twig
#}
{% use "form_div_layout.html.twig" %}

{% block form_row %}
    {% set widget_attr = {} %}
    {%- if errors|length > 0 -%}
        {%- set widget_attr = {attr: {class: 'j-has-error'}} -%}
    {%- endif -%}

    <div {% with {attr: row_attr} %} {{ block('attributes') }} {% endwith %}>
        {{- form_label(form) -}}
        {{- form_widget(form, widget_attr) -}}
        {{- form_errors(form) -}}
    </div>
{% endblock form_row %}

{% block form_errors %}
    {% if errors|length > 0 %}
        <div id="{{ id }}_error">
            {%- for error in errors -%}
                <p class="j-error-message">
                    {{ error.message }}
                </p>
            {%- endfor -%}
        </div>
    {% endif %}
{% endblock form_errors %}

{% block form_label %}
    {% if help %}
        {% set label_attr = label_attr|merge({ class: (label_attr.class|default('') ~ ' j-label-with-help')|trim }) %}
    {% endif %}

    {{ parent() }}
{% endblock %}

{% block form_label_content %}
    {% if help %}
        <span class="j-label-content">
            {{ parent() }}
        </span>
    {% else %}
        {{ parent() }}
    {% endif %}
    {{- form_help(form) -}}
{% endblock %}

{% block form_help %}
  {%- set help_attr = help_attr|merge({class: (help_attr.class|default('') ~ ' j-help-text')}) -%}
  {{ parent() }}
{% endblock %}

{%- block checkbox_row -%}
    <div {% with { attr: row_attr } %} {{ block('attributes') }} {% endwith %}>
        {{- form_widget(form) -}}
        {{- form_label(form) -}}
        {{- form_errors(form) -}}
    </div>
{%- endblock checkbox_row -%}

{%- block choice_widget_collapsed -%}
    <div class="j-select">
        {{ parent() }}
    </div>
{%- endblock choice_widget_collapsed -%}

{%- block password_widget -%}
    {# Store this here because once we're in the 'input' block, parent() would return the parent 'input' block, which would be empty. #}
    {% set parent_widget = parent() %}

    {% embed 'common/form/password-input.html.twig' %}
        {% block input %}
            {{ parent_widget|raw }}
        {% endblock %}
    {% endembed %}
{%- endblock password_widget -%}
