{% extends 'layout.html.twig' %}

{% block title %}
    {{ 'profile.edit.title'|trans }} - {{ parent() }}
{% endblock %}

{% block main %}
    {% include 'common/breadcrumb.html.twig' with {
        items: [
            {
                title: 'nav.profile'|trans,
                path: path('app_profile_detail', { uuid: app.user.uuid }),
            },
            {
                title: 'profile.edit.title'|trans,
            }
        ]
    } only %}

    <div class="j-container j-box">
        <h1>{{ 'profile.edit.title'|trans }}</h1>

        {{ form_start(form) }}
            <h2>{{ 'profile.edit.public'|trans }}</h2>
            {{ form_row(form.firstName)}}
            {{ form_row(form.biography)}}
            {{ form_row(form.city)}}
            {{ form_row(form.displayMyAge)}}
            {{ form_row(form.gender)}}
            <hr/>
            <h2>{{ 'profile.edit.private'|trans }}</h2>
            {{ form_row(form.lastName)}}
            {{ form_row(form.email)}}
            {{ form_row(form.birthday)}}
            {{ form_row(form.save)}}
            <a href="{{ path('app_profile_detail', {'uuid': app.user.uuid }) }}">{{ 'profile.cancel'|trans }}</a>
        {{ form_end(form) }}
        <form method="post" action="{{ path('app_profile_delete') }}">
            <button class="j-btn j-btn--red">{{ 'profile.delete'|trans }}</button>
            <input type="hidden" name="token" value="{{ csrf_token('delete-user-account') }}"/>
        </form>
    </div>
{% endblock main %}
