{% extends 'layout.html.twig' %}

{% block title %}
    {{ 'profile.edit.password'|trans }} - {{ parent() }}
{% endblock %}

{% block main %}
    {% include 'common/breadcrumb.html.twig' with {
        items: [
            {
                title: 'nav.profile'|trans,
                path: path('app_profile_detail', { uuid: app.user.uuid }),
            },
            {
                title: 'profile.edit.password'|trans,
            }
        ]
    } only %}

    <div class="j-container j-box">
        <h1>{{ 'profile.edit.password'|trans }}</h1>

        {{ form_start(form) }}
            {{ form_row(form.oldPassword)}}
            {{ form_row(form.newPassword)}}
            {{ form_row(form.save)}}
        {{ form_end(form) }}
    </div>
{% endblock main %}
