{% extends 'base.html.twig' %}

{% block title %}
    {{ 'register.title'|trans }} - {{ parent() }}
{% endblock %}

{% block body %}
    <h1>{{ 'register.title'|trans }}</h1>
    <p>{{ 'register.description'|trans }}</p>
    <p>{{ 'register.mandatory_fields'|trans }}</p>
    {{ form_start(form) }}
        {{ form_row(form.firstName)}}
        {{ form_row(form.lastName)}}
        {{ form_row(form.email)}}
        {{ form_row(form.password)}}
        {{ form_row(form.birthday)}}
        {{ form_row(form.save)}}
    {{ form_end(form) }}
    <p>
        {{ 'register.already_registered'|trans }}
        <a href="{{ path('app_login') }}">{{ 'login.title'|trans }}</a>
    </p>
{% endblock %}
