<header class="j-header">
    <div class="j-header-brand-container">
        <button
            is="j-nav-button"
            class="j-btn j-btn--icon j-header-brand-menu-btn j-header-brand-left"
            aria-haspopup="true"
            aria-expanded="false"
            aria-controls="j-mobile-menu"
            aria-label="{{ 'nav.mobile.open'|trans }}"
        >
            {% include 'common/icons/menu.svg.twig' %}
        </button>

        {% block brand %}
            <a class="j-header-brand" href="{{ brand_url }}">
                <img src="{{ asset('images/logo-moutarde.svg') }}" alt="{{ 'nav.brand.title'|trans }}">
            </a>
        {% endblock %}
    </div>

    <div class="j-header-desktop-menu">
        <nav aria-label="{{ 'nav.title'|trans }}" class="j-nav">
            {% block nav_content %}{% endblock %}
        </nav>
    </div>
</header>

<div
    id="j-mobile-menu"
    data-nav-button-target="modal"
    hidden
    class="j-header-mobile-menu j-fullscreen j-box j-stack"
    style="--box-padding: var(--w)"
    tabindex="-1"
    aria-label="{{ 'nav.title'|trans }}"
>
    <div class="j-header-brand-container">
        <button data-nav-button-target="closeBtn" class="j-btn j-btn--icon j-header-brand-left" aria-label="{{ 'nav.mobile.close'|trans }}">
            {% include 'common/icons/close.svg.twig' %}
        </button>

        <a class="j-header-brand" href="{{ brand_url }}">
            <img src="{{ asset('images/logo-moutarde.svg') }}" alt="{{ 'nav.brand.title'|trans }}">
        </a>

        <button disabled class="j-btn j-btn--icon j-header-brand-right" aria-label="{{ 'nav.mobile.search'|trans }}">
            {% include 'common/icons/search.svg.twig' %}
        </button>
    </div>

    <nav aria-label="{{ 'nav.title'|trans }}" class="j-nav">
        {{ block('nav_content') }}
    </nav>
</div>
