{% embed 'common/_header.html.twig' with { brand_url: path('app_dashboard') } only %}
    {% block brand %}
        <a class="j-header-brand" data-mobile-only href="{{ brand_url }}">
            <img src="{{ asset('images/logo-moutarde.svg') }}" alt="{{ 'nav.brand.title'|trans }}">
        </a>
        <a class="j-header-brand" data-desktop-only href="{{ brand_url }}">
            <img src="{{ asset('images/logo-n-fushia.svg') }}" alt="{{ 'nav.brand.title'|trans }}">
        </a>
    {% endblock %}

    {% block nav_content %}
        <ul class="j-raw-list">
            <li>
                <a href="{{ path('app_dashboard') }}" {% if app.current_route == 'app_dashboard' %}aria-current="page"{% endif %}>
                    {{ 'nav.dashboard'|trans }}
                </a>
            </li>
            <li>
                <a href="{{ path('app_events_list') }}" {% if app.current_route starts with 'app_events' %}aria-current="page"{% endif %}>
                    {{ 'nav.events'|trans }}
                </a>
            </li>
            <li>
                <a href="{{ path('app_posts_list') }}" {% if app.current_route starts with 'app_posts' %}aria-current="page"{% endif %}>
                    {{ 'nav.posts'|trans }}
                </a>
            </li>
        </ul>

        <hr>

        <ul class="j-raw-list j-nav-right">
            <li>
                <a href="{{ path('app_profile_detail', { uuid: app.user.uuid }) }}" {% if app.current_route starts with 'app_profile' %}aria-current="page"{% endif %}>
                    {{ 'nav.profile'|trans }}
                </a>
            </li>
            <li>
                <a href="{{ path('app_logout') }}">
                    {{ 'nav.logout'|trans }}
                </a>
            </li>
        </ul>

        <hr>

        <ul class="j-raw-list" data-mobile-only>
            <li>
                <a href="{{ path('app_privacy') }}">
                    {{ 'nav.privacy'|trans }}
                </a>
            </li>
            <li>
                <a href="{{ path('app_cgu') }}">
                    {{ 'nav.terms'|trans }}
                </a>
            </li>
        </ul>
    {% endblock %}
{% endembed %}
