{% embed 'common/_header.html.twig' with { brand_url: path('app_dashboard') } only %}
    {% block brand %}
        <a class="j-header-brand" data-mobile-only href="{{ brand_url }}" title="{{ 'nav.brand.title'|trans }}">
            <img src="{{ asset('images/logo-moutarde.svg') }}">
        </a>
        <a class="j-header-brand" data-desktop-only href="{{ brand_url }}" title="{{ 'nav.brand.title'|trans }}">
            <img src="{{ asset('images/logo-n-fushia.svg') }}">
        </a>
    {% endblock %}

    {% block nav_content %}
        <ul class="j-raw-list">
            <li>
                <a href="{{ path('app_dashboard') }}" {% if app.current_route == 'app_dashboard' %}aria-current="page"{% endif %}>
                    {{ 'nav.dashboard'|trans }}
                </a>
            </li>
            <li>
                <a href="{{ path('app_events_list') }}" {% if app.current_route starts with 'app_events' %}aria-current="page"{% endif %}>
                    {{ 'nav.events'|trans }}
                </a>
            </li>
        </ul>

        <hr>

        <ul class="j-raw-list j-nav-right">
            <li>
                <a href="#">
                    Profil
                </a>
            </li>
            <li>
                <a href="#">
                    {{ 'nav.help'|trans }}
                </a>
            </li>
            <li>
                <a href="{{ path('app_logout') }}">
                    {{ 'nav.logout'|trans }}
                </a>
            </li>
        </ul>

        <hr>

        <ul class="j-raw-list" data-mobile-only>
            <li>
                <a href="#">
                    {{ 'nav.privacy'|trans }}
                </a>
            </li>
            <li>
                <a href="#">
                    {{ 'nav.terms'|trans }}
                </a>
            </li>
        </ul>
    {% endblock %}
{% endembed %}
