{% extends 'layout.html.twig' %}

{% block title %}
    {{ 'forgot_password.title'|trans }} - {{ parent() }}
{% endblock %}

{% block main %}
    {% include 'common/jumbotron_simple.html.twig' with { title: 'forgot_password.title'|trans, description: 'forgot_password.description'|trans } only %}

    <div class="j-container j-stack j-box" style="--box-padding: calc(2 * var(--w))">
        {{ form_start(form) }}
            {{ form_row(form.email, { row_attr: { class: 'j-input-group' } }) }}
            {{ form_row(form.save, { attr: { class: 'j-btn j-btn--action' } }) }}
        {{ form_end(form) }}
        <p>
            <a href="{{ path('app_login') }}">{{ 'forgot_password.back_to_login'|trans }}</a>
        </p>
    </div>
{% endblock main %}
