{% extends 'base.html.twig' %}

{% block title %}
    {{ 'forgot_password.title'|trans }} - {{ parent() }}
{% endblock %}

{% block body %}
    <h1>{{ 'forgot_password.title'|trans }}</h1>
    <p>{{ 'forgot_password.description'|trans }}</p>
    {{ form_start(form) }}
        {{ form_row(form.email)}}
        {{ form_row(form.save)}}
    {{ form_end(form) }}
    <a href="{{ path('app_login') }}">{{ 'forgot_password.back_to_login'|trans }}</a>
{% endblock %}
