{% extends 'base.html.twig' %}

{% block title %}
    {{ 'login.title'|trans }} - {{ parent() }}
{% endblock %}

{% block body %}
    <h1>{{ 'login.title'|trans }}</h1>
    <p>{{ 'login.description'|trans }}</p>
    <form action="{{ path('app_login') }}" method="post">
        <div>
            <label for="email">{{ 'login.email'|trans }}</label>
            <input type="email" autocomplete="email" id="email" required name="email" value="{{ last_username }}"/>
        </div>

        <div>
            <label for="password">{{ 'login.password'|trans }}</label>
            <input aria-required="true" required name="password" autocomplete="current-password" id="password" type="password"/>
        </div>

        {% if error %}
            <p>
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </p>
        {% endif %}

        <button>{{ 'login.submit'|trans }}</button>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    </form>
{% endblock %}
