{% extends 'base.html.twig' %}

{% block title %}
    {{ 'reset_password.title'|trans }} - {{ parent() }}
{% endblock %}

{% block body %}
    <h1>{{ 'reset_password.title'|trans }}</h1>
    {{ form_start(form) }}
        {{ form_row(form.password)}}
        {{ form_row(form.save)}}
    {{ form_end(form) }}
{% endblock %}
