{% extends 'layout.html.twig' %}

{% block title %}
    {{ 'reset_password.title'|trans }} - {{ parent() }}
{% endblock %}

{% block main %}
    <div class="j-container">
        <h1>{{ 'reset_password.title'|trans }}</h1>
        {{ form_start(form) }}
            {{ form_row(form.password)}}
            {{ form_row(form.save)}}
        {{ form_end(form) }}
    </div>
{% endblock main %}
