{% extends 'layout.html.twig' %}

{% block title %}
    {{ 'reset_password.title'|trans }} - {{ parent() }}
{% endblock %}

{% block main %}
    <div class="j-container j-stack j-box" style="--box-padding: calc(2 * var(--w))">
        <h1>{{ 'reset_password.title'|trans }}</h1>
        {{ form_start(form, { attr: { class: 'j-container j-box', style: '--box-padding: calc(2 * var(--w))' } }) }}
            {{ form_row(form.password.first, { row_attr: { class: 'j-input-group' } }) }}
            {{ form_row(form.password.second, { row_attr: { class: 'j-input-group' } }) }}
            {{ form_row(form.save, { attr: { class: 'j-btn' } }) }}
        {{ form_end(form) }}
    </div>
{% endblock main %}
