{% extends 'email/base.html.twig' %}
{% trans_default_domain 'emails' %}

{% block body %}
    <p>{{ 'verify_user_account.welcome'|trans }}</p>
    <p>
        {{ 'verify_user_account.thanks'|trans }}<br/>
        {{ 'verify_user_account.confirm_email'|trans }}<br/><br/>
        <a href="{{ uri }}">{{ 'verify_user_account.confirm_email_button'|trans }}</a>
    </p>
    <p>{{ 'verify_user_account.help'|trans }}</p>
{% endblock %}
