{% extends 'layout.html.twig' %}

{% block title %}
    {{ event.title }} - {{ parent() }}
{% endblock %}

{% block main_tag %}<main class="j-background-alt-yellow">{% endblock %}

{% block main %}
    {% include 'common/breadcrumb.html.twig' with {
        items: [
            app.user ? {
                title: 'nav.dashboard'|trans,
                path: path('app_dashboard'),
            } : {
                title: 'nav.home'|trans,
                path: path('app_home'),
            },
            {
                title: 'nav.events'|trans,
                path: path('app_events_list'),
            },
            {
                title: event.title,
            }
        ]
    } only %}

    <div data-testid="event" class="j-container j-background-default" style="--container-width: calc(92 * var(--w)); --container-padding: 0">
        <figure>
            <div class="j-frame" style="--frame-ratio: 16 / 9">
                {% if event.picture %}
                    <img src="{{ storageCdnUrl ~ '/' ~ event.picture }}" alt="{{ event.title }}"/>
                {% else %}
                    <img src="{{ asset('images/placeholder.webp') }}" alt="{{ event.title }}"/>
                {% endif %}
            </div>
            <figcaption data-testid="event-location">{{ event.location }}</figcaption>
        </figure>
        <div class="j-box j-stack" style="--box-padding: min(6%, calc(6 * var(--w))); --stack-gap: calc(2 * var(--w))">
            <h1>{{ event.title }}</h1>
            {% include 'events/_dates.html.twig' with { event } only %}
            {% include 'events/_location.html.twig' with { location: event.location } only %}

            {{ event.description|raw }}

            <div>
                <h2 class="j-label">
                    {{ 'events.detail.owner.title'|trans }}
                </h2>

                {% include 'events/_owner.html.twig' with { owner: event.owner } %}
            </div>

            <p>
                {{ 'events.detail.registrations'|trans({ '%nbAttendees%': event.nbAttendees, '%nbAvailablePlaces%': event.nbAvailablePlaces })|raw }}
            </p>

            {% if not app.user %}
                <p>
                    {{ 'events.detail.register.anonymousWarning'|trans }}
                </p>
                <a href="{{ path('app_register') }}" class="j-btn j-btn--action">
                    {{ 'events.detail.register.anonymousCta'|trans }}
                </a>
            {% endif %}

            {% if event.isLoggedUserRegisteredForEvent %}
                <p class="j-alert j-alert--success j-icon--left j-text-bold">
                    {% include 'common/icons/check.svg.twig' with { attr: {class: 'j-icon j-icon--sm'} } only %}
                    {{ 'events.detail.registered'|trans }}
                </p>
                {% include 'events/_unregistration_form.html.twig' with { event } only %}
            {% elseif is_granted('ROLE_USER') and event.nbAvailablePlaces > 0  %}
                <a data-testid="register-link" class="j-btn j-btn--action" href="{{ path('app_event_register', { uuid: event.uuid }) }}">
                    {{ 'events.detail.register'|trans }}
                </a>
            {% endif %}

            <p>
                {{ 'events.detail.numberOfAttendees'|trans({ '%nbAttendees%': event.nbAttendees })|raw }}
            </p>
        </div>
    </div>

    <div class="j-container j-background-alt-blue" style="--container-width: calc(92 * var(--w)); --container-padding: 0">
        <div class="j-box j-stack" style="--box-padding: min(6%, calc(6 * var(--w))); --stack-gap: calc(4 * var(--w))">
            <h2>{{ 'events.detail.upcoming_events'|trans }}</h2>

            {% include 'events/_event_grid.html.twig' with { events: otherEvents } only %}

            <div class="j-center">
                <a href="{{ path('app_events_list') }}" class="j-btn j-btn--lg">
                    {{ 'events.detail.upcoming_events.back_to_event_list'|trans }}
                </a>
            </div>
        </div>
    </div>

    <div class="j-container j-background-default" style="--container-width: calc(92 * var(--w)); --container-padding: 0">
        <div class="j-box" style="--box-padding: min(6%, calc(6 * var(--w)))">
            {% include '_why_jeunot.html.twig' with { detail: true } only %}
        </div>
    </div>
{% endblock main %}
